<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>EXPEDIENTE DEL ALUMNO</legend>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id">Alumno</label>
  <div class="col-md-4">
    <input id="id" name="id" type="search" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="buscar"></label>
  <div class="col-md-4">
    <button id="buscar" name="buscar" class="btn btn-primary">Buscar</button>
  </div>
</div>

</fieldset>
</form>
