<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cambio de Contraseña</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="actual">Contaseña Actual</label>  
  <div class="col-md-4">
  <input id="actual" name="actual" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nueva">Nueva contraseña</label>
  <div class="col-md-4">
    <input id="nueva" name="nueva" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="confirmar">Confirmar Contraseña</label>
  <div class="col-md-4">
    <input id="confirmar" name="confirmar" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="aceptar" name="aceptar" class="btn btn-primary">Aceptar</button>
  </div>
</div>

</fieldset>
</form>